// Tailwinds
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// menu icon
svg.menu-icon{
    .a,
    .b {
        fill: none;
    }

    .b {
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.5px;
    }
}

// logo
svg.logo{
    .a {
        fill: #fff;
    }
}

// search icon
svg.search-icon{
    .a {
        fill: #7F7F7F;
    }
}

// Menu ul
ul.menu{ 
    // border-bottom: 1px solid #333333;

    li:hover{
        div.hover-effect{
            width: 9px;
            height: 9px;
            background: #ffbc21;
            border: 2px solid #ffbc21;
            border-radius: 50%;
            box-shadow: 0px 3px 15px 0px #ffbc21;
        }
    }
}

// Close div
div.close{
    box-shadow: 0px 11px 30px 0px #000000;

    // x-icon
    svg.x-icon{
        .a {
            fill: none;
            stroke: #ccc;
            stroke-linecap: round;
            stroke-width: 1.5px;
        }
    }
}