// Tailwinds
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// menu icon
svg.menu-icon{
    .a,
    .b {
        fill: none;
    }

    .b {
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.5px;
    }
}

// logo
svg.logo{
    .a {
        fill: #fff;
    }
}

// search icon
svg.search-icon{
    .a {
        fill: #7F7F7F;
    }
}

// Menu ul
ul.menu{ 
    // border-bottom: 1px solid #333333;

    li:hover{
        div.hover-effect{
            background: #ffbc21;
            border: 2px solid #ffbc21;
            border-radius: 50%;
            box-shadow: 0px 3px 15px 0px #ffbc21;
        }
    }
}

// Close div
div.close{
    box-shadow: 0px 11px 30px 0px #000000;

    // x-icon
    svg.x-icon{
        .a {
            fill: none;
            stroke: #ccc;
            stroke-linecap: round;
            stroke-width: 1.5px;
        }
    }
}

// Primary Button
button.primary{
    background: linear-gradient(90deg, #ffbc21, #ffd21d);
    box-shadow: 0px 3px 70px 0px rgba(255, 202, 31, 0.50);
}
// hover
button.primary:hover{
    box-shadow: 0px 0px 60px 0px rgba(255, 202, 31, 0.50);
}
// focus
button.primary:focus{
    box-shadow: none;
}

// Third Button
button.third{
    background: #191919;
    border: 2px solid transparent;
}
// hover
button.third:hover{
    background: #333333;
}
// focus
button.third:focus{
    background: #0c0c0c;
    border: 2px solid #333333;
}

div.organic-rewards{
    background-image: url('http://localhost:8888/oliorama/wp-content/uploads/2021/11/quality-awarded-organic-products.png');
    background-repeat: no-repeat;
    background-size: cover;
}

// Bullet on Nav Items : HOVER
div.bullet:hover{

    div {
        background: #ffbc21;
        border: 2px solid #ffbc21;
        box-shadow: 0px 3px 15px 0px #ffbc21;
    }
}
// FOCUS
// div.bullet:focus{

//     div {
//         background: #ffbc21;
//         border: 2px solid #ffbc21;
//         box-shadow: 0px 3px 15px 0px #ffbc21;
//     }
// }

// Search form
section#search-form{
    // x-icon
    svg.x-icon {
        .a {
            fill: none;
            stroke: #ccc;
            stroke-linecap: round;
            stroke-width: 1.5px;
        }
    }
}